<div id="footer">
  <div class="container">
    <div class="row">
      <div class="12u">

        <!-- Contact -->
        <section class="contact">
          <header>
            <h3>Join us on</h3>
          </header>
          <ul class="icons">
            <li><a target="_blank" href="https://www.facebook.com/ArtbyHeartBangkok/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
            <li><a href="#" class="icon fa-map-marker "><span class="label">Pinterest</span></a></li>
          </ul>
        </section>

        <!-- Copyright -->
        <div class="copyright">
          <ul class="menu">
            <li>&copy; Art by Heart Bangkok. All rights reserved.</li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</div>