<div id="header">
	<!-- Inner -->
	<div class="inner">
		<header>
			<h1><a href="index.html" id="logo">Art by Heart</a></h1>
		</header>
	</div>

	<!-- Nav -->
	<%= render :template=> 'share/menu'%>
</div>