<!-- Header -->
<div id="header">

	<!-- Inner -->
	<div class="inner">
		<header>
			<h1><a href="/" id="logo"><%= cl_image_tag("Artbyheart/logoArtbyHeart.png",size: "200x225", :alt => "Sample Image", :class=>"img-responsive center-block" ) %></h1>
				</a>
			<hr />
			<p>listen to your heart, release yourself with art </p>
		</header>
		<footer>
			<a href="#banner" class="button circled scrolly">Start</a>
		</footer>
	</div>
	<!-- Nav -->
    <%= render :template=> 'share/menu'%>
</div>