<nav id="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li>
      <a href="<%= articles_path%>">Blog</a>
      <ul>
        <li>
            <%= link_to 'Articles',articles_path(:cat => 1)  %>
        </li>
        <li> <%= link_to 'Activities',articles_path(:cat => 2)  %></li>
        <li> <%= link_to 'How to',articles_path(:cat => 3)  %></li>
      </ul>
    </li>
    <li><a href="#Therapist">Therapist</a></li>
    <li><a href="right-sidebar.html">Products</a></li>
    <li><a href="no-sidebar.html">About us</a></li>
  </ul>
</nav>