<div class="page-wrapper ">
  <%= render :template=> '/admin/menu'%>
  <div class="body">
  <%= render :template=> '/admin/articles/_list'%>
  </div>
  <%= render :template=> '/admin/footer'%>
</div>


