<% content_for :breadcrumb_atr_1, "Admin >> Article >> ID:" %>
<% content_for :breadcrumb_atr_2 do %>
    <%= link_to @admin_article.id, edit_admin_article_path(@admin_article) %>
<% end %>
<!-- body -->
<%= render 'show', admin_article: @admin_article %>
<div class="pull-right">
  <%= link_to 'Back', admin_articles_path %>  |
  <%= link_to 'Edit', edit_admin_article_path(@admin_article)%>
</div>