<!-- body -->
<div class="wrapper style1">
	<div class ="container" style="width: 100%">
		<%= render 'admin/articles/show', admin_article: @article %>
		<%= render 'articles/suggested', articles: @articles_highlight %>
	</div>
</div>
