<div id="footer" class="navbar navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="12u">
        <div class="copyright">
            <ul class="menu">
              <li>&copy; Art by Heart Bangkok. All rights reserved.</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
