<div id="header" class="wrapper">
  <div class="inner">
    <header>
      <h1><a href="home/index" id="logo">Art by Heart</a></h1>
    </header>
  </div>
  <nav id="nav">
    <ul>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/admin/users">User</a>
      <li><a href="/admin/articles">Articles</a>
      <li><a href="/admin/therapists">Therapist</a></li>
      <li><a href="/admin/products">Products</a></li>
      <li><a href="/">Live website</a></li>
  </nav>
</div>