<section id="showphotos">
    <%= render :partial => "/admin/photos/index", :locals => {:img_id => params[:img_id],:img_type =>params[:img_type], :redirectturl=>params[:redirectturl]}%>
</section>
<section id="addphoto">
    <%= render :template => new_admin_photo_path,:locals => {:redirectturl=>params[:redirectturl]}%>
</section> 
