/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
article.special div.title.wrapper{
	background-color: #ffca28;
	padding: 20px;
    
}
article.action{
	padding: 20px 100px 50px 100px;
}
article .wrapper {
	padding: 20px 100px 20px 100px;
}
