<div class="top">
	<div id="logo">
		<% unless @admin_user_login.photo.blank? %>
			<%= image_tag( @admin_user_login.photo.image.url, :class => "img-circle user-photo-small" )%>
		<%end%>
	    <p id="title"><%= @admin_user_login.email %></p>
	    <p><%=@admin_user_login.password%></p>
	</div>
</div>